<p>{{ title$ | async }}</p>

<div *ngFor="let todo of (todos$ | async)" style="margin: 5px; border: 2px solid tomato;">
    <p>{{ todo.title }}</p>
    <p>{{ todo.body }}</p>
</div>

<div *ngIf="(isLoadingTodos$ | async)">LOADING . . . </div>